:root {
  --main: #908479;
  --back: #282828;
  --case: #b8bb26;
  --hyph: #fb4934;
  --unscore: #FDF7DA;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
    background-color: var(--back);
    color: var(--main);
    font-family: "HK Grotesk", sans-serif;
}

.container {
    max-width: 700px;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

sup {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: black;
    background-color: var(--main);
    border: none;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;    
}

textarea {
    width: 90%;
    min-height: 160px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    background-color: #444;
    color: #fffeec;
    border: 2px solid var(--main);
    border-radius: 5px;
    resize: none;
    outline: none;
}
textarea:focus {
    border: 2px solid var(--main) !important; /* Override focus border color */
}

.buttons {
    margin-bottom: 20px;
}

.convert-btns button {
    padding: 10px 12px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: transparent;
    transition: background-color 0.3s ease; 
}

.case-btn {
    color: var(--case);
    border: 1px solid var(--case);
    -webkit-box-shadow: 1px 1px 0 var(--case);
    box-shadow: 1px 1px 0 var(--case);
}
.case-btn:hover {
    background-color: var(--case);
}
.hyphen-btn {
    color: var(--hyph);
    border: 1px solid var(--hyph);
    -webkit-box-shadow: 1px 1px 0 var(--hyph);
    box-shadow: 1px 1px 0 var(--hyph);
}
.hyphen-btn:hover {
    background-color: var(--hyph);
}
.underscore-btn {
    color: var(--unscore);
    border: 1px solid var(--unscore);
    -webkit-box-shadow: 1px 1px 0 var(--unscore);
    box-shadow: 1px 1px 0 var(--unscore);
}
.underscore-btn:hover {
    background-color: var(--unscore);
}

.convert-btns button:hover {
  color: var(--back);
}
.convert-btns button:focus {
  outline: none;
}
.convert-btns button:active {
  transform: translateY(2px);
}

.copy-btn,
.clear-btn {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid var(--main);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Lucida Console", Monaco, monospace;
}

.copy-btn,
.copy-btn.copied {
    width: 200px;
    color: var(--back);
    background-color: var(--main);
}

.clear-btn {
    color: var(--main);
    background-color: transparent;
}
